-
    var siteData = {
           name: "Petcube",
       keywords: 'pets',
        title: "Petcube",
        description: "Store for pets",
        url: 'https://petcube.com',
        meta: {
            facebook: '//fb.com/',
            instagram: '//instagram.com/'
        },
        opengraph: {
            image: '/',
            title: 'Project social title',
            description: 'Project social description'
        }
    }
    var mainMenuItems = [
    {
        title: "Products",
        url: "#"
    },
    {
        title: "App",
        url: "#"
    },
    {
        title: "Support",
        url: "#"
    },
    {
        title: "Why Petcube",
        url: "#"
    },
    {
        title: "PetFeed",
        url: "#"
    },
    {
        title: "Store",
        url: "#"
    }
    ]