-
    var siteData = {
    name: "Petcube",
    keywords: 'pets',
    title: "Petcube",
    description: "Store for pets",
    url: 'https://petcube.com',
    meta: {
    facebook: '//fb.com/',
    instagram: '//instagram.com/'
    },
    opengraph: {
    image: '/',
    title: 'Project social title',
    description: 'Project social description'
    }
    }
    var mainMenuItems = [
    {
    title: "Products",
    url: "#"
    },
    {
    title: "App",
    url: "#"
    },
    {
    title: "Support",
    url: "#"
    },
    {
    title: "Why Petcube",
    url: "#"
    },
    {
    title: "PetFeed",
    url: "#"
    },
    {
    title: "Store",
    url: "#"
    }
    ]
    var products = [
    {title: "Petcube Play",
    text: "An interactive pet camera that lets you see, talk to, and play with your pet",
    className: "petcube-play",
    url: "#"
    },
    {title: "Petcube Bites",
    text: "An interactive pet cam that lets you treat and train your pet from anywhere",
    className: "petcube-bites",
    url: "#"
    },
    {title: "Petcube Care",
    text: "On-the-Go Pet Care & Home Security Record what happens 24/7 ",
    className: "petcube-care",
    url: "#"
    }
    ]