@import '../../globals/variables'
.header
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	&
		&__join
			background-color colorPurple
			color #ffffff
			text-align center
			.dog-block
				&__icon
					padding 2px 25px 0
				&__link
					text-transform capitalize
					svg
						width 15px
						height 15px
						margin-left 5px
						vertical-align middle

