
mixin header()
	+b.header
		+e.join
			+b.dog-block
				+e('span').join-text Join the biggest rescue dog party! #PetcubeRescue
				+e.icon(src="http://favicon.yandex.net/favicon/github.com")
				+e('a').link(src="https://petcube.com") Register now
		+e.main
			+b('a').main-menu(src="https://petcube.com")
				+e.icon(src="http://favicon.yandex.net/favicon/github.com")
				+e.text Petcube



