@import '../../globals/variables'
.header
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	&
		&__join
			background-color colorPurple
			color #ffffff
			text-align center
			font-size 16px
			.dog-block
				&__icon
					padding 2px 25px 0
				&__link
					text-transform capitalize
					svg
						width 15px
						height 15px
						margin-left 5px
						vertical-align middle
		&__main
			display flex
			justify-content space-between
			.logo
				text-decoration none
				&__icon
					padding 18px 5px 18px 20px
				&__text
					font-weight bold
					font-size 20px
					vertical-align middle
					color #000
			.main-menu
				margin 0
				padding 25px 0
				&__item
					float right
					list-style none
					padding-right 20px
					font-size 16px
					height 100%
					cursor pointer
				&__link
					text-decoration none
					color #323232
			.right-nav
				margin 0
				&__item
					float left
					list-style none
					padding 25px 20px 0
					font-size 20px
					line-height 20px
					border-left 2px solid #f2f2f2
					height 100%
					cursor pointer
					&.dropdown
						padding-top 27px
						font-weight bold
						color #999
						position relative
						&:after
							content: ' '
							height: 0
							position: absolute
							top: 30px
							width: 0
							border: 5px solid transparent
							border-top-color: #999
				&__link
					padding-top 16px
					text-decoration none
					span
						color #f9aa16
						vertical-align top
						font-weight bold
						margin-left 3px
					svg
						height 20px
						width 20px


