
mixin header()
	+b.header
		+e.join
			+b.dog-block
				+e('span').join-text Join the biggest rescue dog party! #PetcubeRescue
				+e.icon(src='/assets/i/dog_m.png' alt='dog')
				+e('a').link(src="https://petcube.com") Register now
					svg.icon
						use(xlink:href='#sign-to-right')
		+e.main
			+b('a').logo(href="https://petcube.com")
				+e.icon(src='/assets/i/logo.png' alt='logo')
				+e.text Petcube
			+b('ul').main-menu
				+e("li").item
					+e('a').link(href="#") Products
				+e("li").item
					+e('a').link(href="#") App
				+e("li").item
					+e('a').link(href="#") Support
				+e("li").item
					+e('a').link(href="#") Why Petcube
				+e("li").item
					+e('a').link(href="#") PetFeed
				+e("li").item
					+e('a').link(href="#") Store
			+b('ul').right-nav
				+e('li').item.dropdown US
				+e("li").item
					+e('a').link(href="#")
						svg.icon
							use(xlink:href='#home')
				+e("li").item
					+e('a').link(href="#")
						svg.icon
							use(xlink:href='#cart')
						span 0






